<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Surprise!!</title>
    <link rel="stylesheet" href="static/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">  
</head>
<body>
    <form action="index2.html">
        <div>
            <p style="font-weight: bold">Are you really my Bhagyam?🤔</p>
            <section>
                <button type="button" class="btn btn-success" onclick="window.location.href='./index2.html'" >Ofcourse, idiot</button>
                <button type="button" class="btn btn-danger" onclick="window.location.href='./index3.html'" >No</button>
            </section>
            
        </div>
        
    </form>
</body>
</html>